$ const { id, alias, name, pageNode } = data;

<shared-website-section-page-default-layout
  id=id
  alias=alias
  name=name
  page-node=pageNode
>

  <@load-more name="card-deck">
    <@query-params limit= 10 skip=12 />
  </@load-more>
</shared-website-section-page-default-layout>
