$primary: #c21a01;
$secondary: #495057;
$light: #e9ecef;
$dark: #212529;
$info: #6c757d;

$leaders-primary-color: $primary;
$leaders-primary-color-light: lighten($leaders-primary-color, 10%);
$leaders-accent-color: $primary;

$black: rgba(0, 0, 0, .84);

$theme-site-navbar-secondary-bg-color: #fff;
$theme-site-navbar-primary-bg-color: $primary;

$theme-site-navbar-secondary-link-color: $black;
$theme-site-navbar-secondary-link-hover-color: $black;
$theme-site-navbar-secondary-link-active-color: $black;

$theme-site-navbar-tertiary-link-active-color: $black;
$theme-site-navbar-tertiary-link-color: $black;
$theme-site-navbar-tertiary-link-hover-color: $black;

$theme-site-navbar-logo-height: 45px;
$theme-site-navbar-logo-height-sm: 25px;

$theme-newsletter-block-bg-color: $primary;
$theme-newsletter-block-button-bg-color: #000;

$theme-site-header-breakpoints: (
  hide-primary: 1005px,
  hide-secondary: 906px,
  small-logo: 1015px,
  small-text-primary: 1152px,
  small-text-secondary: 1105px
);

@import "../../node_modules/@endeavor-business-media/package-shared/scss/core";
@import "../../node_modules/@endeavor-business-media/package-common/scss/algolia";
