$primary: #ee2e30;
$secondary: #495057;
$light: #e9ecef;
$dark: #212529;
$info: #6c757d;

$theme-site-navbar-primary-bg-color: $primary;
$theme-site-navbar-secondary-bg-color: lighten($theme-site-navbar-primary-bg-color, 40%);
$theme-site-navbar-secondary-bg-color: #fff;
$theme-site-navbar-secondary-type: light;

$theme-site-navbar-logo-height: 50px;

$theme-site-header-breakpoints: (
  hide-primary: 786px,
  hide-secondary: 829px,
  small-logo: 960px,
  small-text-primary: 880px,
  small-text-secondary: 1035px
);

@import "../../node_modules/@base-cms/marko-web-gam/scss/fixed-ad-bottom";
@import "../../node_modules/@base-cms/marko-web-reveal-ad/scss/reveal-ad";
@import "../../node_modules/@base-cms/marko-web-theme-default/skins/orion/skin";
// @todo this should be remove once contact us is in core
@import "../../node_modules/@base-cms-websites/package-common/scss/contact-us-form";
@import "../../node_modules/@base-cms-websites/package-common/scss/directory";
@import "../../node_modules/@base-cms-websites/package-inquiry/scss/index";
