$primary: #93d5d5;
$secondary: #000;
$light: #93d5d5;
$dark: #313131;
$info: #ccc;

$leaders-primary-color: #000;
$leaders-primary-color-light: lighten($leaders-primary-color, 10%);
$leaders-accent-color: $primary;

$theme-site-navbar-primary-bg-color: $primary;
$theme-site-navbar-secondary-bg-color: $secondary;

$theme-site-navbar-primary-link-color: #fff;
$theme-site-navbar-secondary-link-color: $info;

$theme-card-header-background-color: $secondary;
$theme-site-navbar-menu-hover-background-color: #e6e6e6;
$marko-web-node-placeholder-image-bg-color: $primary;
$theme-site-footer-primary-bg-color: $secondary;

$theme-site-navbar-logo-height: 45px;
$theme-site-navbar-logo-height-sm: 25px;

$theme-site-header-breakpoints: (
  hide-primary: 832px,
  hide-secondary: 760px,
  small-logo: 1015px,
  small-text-primary: 932px,
  small-text-secondary: 1105px
);

@import "../../node_modules/@endeavor-business-media/package-shared/scss/cygnus-skin";
