$primary: #0072bc;
$secondary: #a7a9ac;
$light: #e9ecef;
$dark: #212529;
$info: #6c757d;
$black: rgba(0, 0, 0, .84);

$theme-site-navbar-secondary-bg-color: #fcfcfc;
$theme-site-navbar-primary-bg-color: $primary;

$theme-site-navbar-secondary-link-color: $primary;
$theme-site-navbar-secondary-link-hover-color: $primary;
$theme-site-navbar-secondary-link-active-color: $primary;

$theme-site-navbar-logo-height: 45px;
$theme-site-navbar-logo-height-sm: 25px;

$theme-site-navbar-primary-font-size: 14px;

$theme-site-header-breakpoints: (
  hide-primary: 1005px,
  hide-secondary: 906px,
  small-logo: 1015px,
  small-text-primary: 1152px,
  small-text-secondary: 1105px
);

@import "../../node_modules/@base-cms/marko-web-gam/scss/fixed-ad-bottom";
@import "../../node_modules/@base-cms/marko-web-reveal-ad/scss/reveal-ad";
@import "../../node_modules/@base-cms/marko-web-theme-default/skins/orion/skin";
// @todo this should be remove once contact us is in core
@import "../../node_modules/@base-cms-websites/package-common/scss/contact-us-form";
