$ const { id, alias, name, pageNode } = data;

<shared-website-section-page-card-deck-list-layout
  id=id
  alias=alias
  name=name
  page-node=pageNode
>
  <@featured-companies option-name="Featured Company" />
</shared-website-section-page-card-deck-list-layout>
