version: '3.7'

x-node-defaults: &node
  tty: true
  init: true
  image: node:10.15
  entrypoint: ["node"]
  working_dir: /root
  restart: always
  volumes:
    - ./:/root:cached
    - ./node_modules:/root/node_modules:delegated
    - yarn-cache:/.yarn-cache

x-env-defaults: &env
  NEW_RELIC_ENABLED: ${NEW_RELIC_ENABLED-0}
  NEW_RELIC_LICENSE_KEY: ${NEW_RELIC_LICENSE_KEY-(unset)}
  NODE_ENV: development
  # @todo the recaptcha values should be removed (?) once contact-us is moved to core.
  RECAPTCHA_SECRET_KEY: ${RECAPTCHA_SECRET_KEY-(unset)}
  # @todo the sendgrid values should be removed once the @base-cms/mailer service is created.
  SENDGRID_API_KEY: ${SENDGRID_API_KEY-(unset)}
  SENDGRID_DEV_TO: developer@endeavorb2b.com
  YARN_CACHE_FOLDER: /.yarn-cache

x-env-aerilon: &env-aerilon-staging
  GRAPHQL_URI: ${GRAPHQL_URI-https://aerilon.graphql.base-cms-staging.io}
  OEMBED_URI: ${OEMBED_URI-https://aerilon.oembed.base-cms-staging.io}
  RSS_URI: ${RSS_URI-https://aerilon.rss.base-cms-staging.io}
  SITEMAPS_URI: ${SITEMAPS_URI-https://aerilon.sitemaps.base-cms-staging.io}

x-env-picon: &env-picon-staging
  GRAPHQL_URI: ${GRAPHQL_URI-https://picon.graphql.base-cms-staging.io}
  OEMBED_URI: ${OEMBED_URI-https://picon.oembed.base-cms-staging.io}
  RSS_URI: ${RSS_URI-https://picon.rss.base-cms-staging.io}
  SITEMAPS_URI: ${SITEMAPS_URI-https://picon.sitemaps.base-cms-staging.io}

x-env-development: &env-development
  GRAPHQL_URI: ${GRAPHQL_URI-http://host.docker.internal:10002}
  OEMBED_URI: ${OEMBED_URI-http://host.docker.internal:10013}
  RSS_URI: ${RSS_URI-http://host.docker.internal:10011}
  SITEMAPS_URI: ${SITEMAPS_URI-http://host.docker.internal:10009}

x-site-command: &site-cmd
  entrypoint: ["node_modules/.bin/basecms-website"]
  command: ["dev", "index.js"]

volumes:
  yarn-cache: {}

services:
  terminal:
    <<: *node
    working_dir: /root
    entrypoint: ["/bin/bash"]
    environment:
      <<: *env

  yarn:
    <<: *node
    working_dir: /root
    entrypoint: ["yarn"]
    environment:
      <<: *env

  laserfocusworld:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/laserfocusworld
    environment:
      <<: *env
      <<: *env-aerilon-staging
      PORT: 80
      EXPOSED_PORT: 9710
      LIVERELOAD_PORT: 19710
      TENANT_KEY: ebm_lfw
      SITE_ID: 5ca4e38775a25490050041a7
    ports:
      - "9710:80"
      - "19710:19710"

  utilityproducts:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/utilityproducts
    environment:
      <<: *env
      <<: *env-aerilon-staging
      PORT: 80
      EXPOSED_PORT: 9711
      LIVERELOAD_PORT: 19711
      TENANT_KEY: ebm_up
      SITE_ID: 5c993fe347062b90038b4567
    ports:
      - "9711:80"
      - "19711:19711"

  vision-systems:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/vision-systems
    environment:
      <<: *env
      <<: *env-aerilon-staging
      PORT: 80
      EXPOSED_PORT: 9712
      LIVERELOAD_PORT: 19712
      TENANT_KEY: ebm_vsd
      SITE_ID: 5ca78db575a2541c0e0041a7
    ports:
      - "9712:80"
      - "19712:19712"

  militaryaerospace:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/militaryaerospace
    environment:
      <<: *env
      <<: *env-aerilon-staging
      PORT: 80
      EXPOSED_PORT: 9713
      LIVERELOAD_PORT: 19713
      TENANT_KEY: ebm_mae
      SITE_ID: 5ca78cfd75a254120e0041a7
    ports:
      - "9713:80"
      - "19713:19713"

  cablinginstall:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/cablinginstall
    environment:
      <<: *env
      <<: *env-aerilon-staging
      PORT: 80
      EXPOSED_PORT: 9714
      LIVERELOAD_PORT: 19714
      TENANT_KEY: ebm_cim
      SITE_ID: 5ca3d82675a25456040041a7
    ports:
      - "9714:80"
      - "19714:19714"

  # aviationpros:
  #   <<: *node
  #   <<: *site-cmd
  #   working_dir: /root/sites/aviationpros
  #   environment:
  #     <<: *env
  #     <<: *env-picon-staging
  #     PORT: 80
  #     EXPOSED_PORT: 9715
  #     LIVERELOAD_PORT: 19715
  #     TENANT_KEY: cygnus_cavc
  #     SITE_ID: 5409cf10c827f1be4bb483f9
  #   ports:
  #     - "9715:80"
  #     - "19715:19715"

  dentaleconomics:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/dentaleconomics
    environment:
      <<: *env
      <<: *env-aerilon-staging
      PORT: 80
      EXPOSED_PORT: 9716
      LIVERELOAD_PORT: 19716
      TENANT_KEY: ebm_de
      SITE_ID: 5c9a270347062ba1048b4567
    ports:
      - "9716:80"
      - "19716:19716"

  dentistryiq:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/dentistryiq
    environment:
      <<: *env
      <<: *env-aerilon-staging
      PORT: 80
      EXPOSED_PORT: 9717
      LIVERELOAD_PORT: 19717
      TENANT_KEY: ebm_diq
      SITE_ID: 5ca3868b08cf3a4e048b4567
    ports:
      - "9717:80"
      - "19717:19717"

  perioimplantadvisory:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/perioimplantadvisory
    environment:
      <<: *env
      <<: *env-aerilon-staging
      PORT: 80
      EXPOSED_PORT: 9718
      LIVERELOAD_PORT: 19718
      TENANT_KEY: ebm_pia
      SITE_ID: 5ca3871b08cf3a52048b4567
    ports:
      - "9718:80"
      - "19718:19718"

  rdhmag:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/rdhmag
    environment:
      <<: *env
      <<: *env-aerilon-staging
      PORT: 80
      EXPOSED_PORT: 9719
      LIVERELOAD_PORT: 19719
      TENANT_KEY: ebm_rdh
      SITE_ID: 5ca78c5675a254020e0041a7
    ports:
      - "9719:80"
      - "19719:19719"

  # cpapracticeadvisor:
  #   <<: *node
  #   <<: *site-cmd
  #   working_dir: /root/sites/cpapracticeadvisor
  #   environment:
  #     <<: *env
  #     <<: *env-picon-staging
  #     PORT: 80
  #     EXPOSED_PORT: 9720
  #     LIVERELOAD_PORT: 19720
  #     TENANT_KEY: cygnus_cpa
  #     SITE_ID: 5be05ab10b43fe47008b4567
  #   ports:
  #     - "9720:80"
  #     - "19720:19720"

  hcinnovationgroup:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/hcinnovationgroup
    environment:
      <<: *env
      <<: *env-picon-staging
      PORT: 80
      EXPOSED_PORT: 9721
      LIVERELOAD_PORT: 19721
      TENANT_KEY: ebm_hci
      SITE_ID: 5c33c23175a254e2210041a7
    ports:
      - "9721:80"
      - "19721:19721"

  hpnonline:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/hpnonline
    environment:
      <<: *env
      <<: *env-picon-staging
      PORT: 80
      EXPOSED_PORT: 9722
      LIVERELOAD_PORT: 19722
      TENANT_KEY: ebm_hpn
      SITE_ID: 5babaa3fb09d901d008b4567
    ports:
      - "9722:80"
      - "19722:19722"

  mlo-online:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/mlo-online
    environment:
      <<: *env
      <<: *env-picon-staging
      PORT: 80
      EXPOSED_PORT: 9723
      LIVERELOAD_PORT: 19723
      TENANT_KEY: ebm_mlo
      SITE_ID: 5babaa3fb09d901d008b4567
    ports:
      - "9723:80"
      - "19723:19723"

  # plasticsmachinerymagazine:
  #   <<: *node
  #   <<: *site-cmd
  #   working_dir: /root/sites/plasticsmachinerymagazine
  #   environment:
  #     <<: *env
  #     <<: *env-picon-staging
  #     PORT: 80
  #     EXPOSED_PORT: 9724
  #     LIVERELOAD_PORT: 19724
  #     TENANT_KEY: ebm_pmm
  #     SITE_ID:
  #   ports:
  #     - "9724:80"
  #     - "19724:19724"

  processingmagazine:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/processingmagazine
    environment:
      <<: *env
      <<: *env-picon-staging
      PORT: 80
      EXPOSED_PORT: 9725
      LIVERELOAD_PORT: 19725
      TENANT_KEY: ebm_pcm
      SITE_ID: 5d94f8ffa6e8398c008b4567
    ports:
      - "9725:80"
      - "19725:19725"

  offshore-mag:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/offshore-mag
    environment:
      <<: *env
      <<: *env-aerilon-staging
      PORT: 80
      EXPOSED_PORT: 9726
      LIVERELOAD_PORT: 19726
      TENANT_KEY: ebm_os
      SITE_ID: 5ca78e0875a2541f0e0041a7
    ports:
      - "9726:80"
      - "19726:19726"

  # ogj:
  #   <<: *node
  #   <<: *site-cmd
  #   working_dir: /root/sites/ogj
  #   environment:
  #     <<: *env
  #     <<: *env-aerilon-staging
  #     PORT: 80
  #     EXPOSED_PORT: 9727
  #     LIVERELOAD_PORT: 19727
  #     TENANT_KEY: ebm_ogj
  #     SITE_ID: 5ca3d91075a2545c040041a7
  #   ports:
  #     - "9727:80"
  #     - "19727:19727"

  # firehouse:
  #   <<: *node
  #   <<: *site-cmd
  #   working_dir: /root/sites/firehouse
  #   environment:
  #     <<: *env
  #     <<: *env-picon-staging
  #     PORT: 80
  #     EXPOSED_PORT: 9728
  #     LIVERELOAD_PORT: 19728
  #     TENANT_KEY: cygnus_fhc
  #     SITE_ID: 541c4318fdef6cc5fb990f20
  #   ports:
  #     - "9728:80"
  #     - "19728:19728"

  officer:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/officer
    environment:
      <<: *env
      <<: *env-picon-staging
      PORT: 80
      EXPOSED_PORT: 9729
      LIVERELOAD_PORT: 19729
      TENANT_KEY: cygnus_ofcr
      SITE_ID: 53f6823828ed57018875bb51
    ports:
      - "9729:80"
      - "19729:19729"

  # securityinfowatch:
  #   <<: *node
  #   <<: *site-cmd
  #   working_dir: /root/sites/securityinfowatch
  #   environment:
  #     <<: *env
  #     <<: *env-picon-staging
  #     PORT: 80
  #     EXPOSED_PORT: 9730
  #     LIVERELOAD_PORT: 19730
  #     TENANT_KEY: cygnus_siw
  #     SITE_ID: 5bd2215b29a75d73008b4567
  #   ports:
  #     - "9730:80"
  #     - "19730:19730"

  # locksmithledger:
  #   <<: *node
  #   <<: *site-cmd
  #   working_dir: /root/sites/locksmithledger
  #   environment:
  #     <<: *env
  #     <<: *env-picon-staging
  #     PORT: 80
  #     EXPOSED_PORT: 9731
  #     LIVERELOAD_PORT: 19731
  #     TENANT_KEY: cygnus_ll
  #     SITE_ID: 5bd77286412f6dac008b4567
  #   ports:
  #     - "9731:80"
  #     - "19731:19731"

  bioopticsworld:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/bioopticsworld
    environment:
      <<: *env
      <<: *env-aerilon-staging
      PORT: 80
      EXPOSED_PORT: 9732
      LIVERELOAD_PORT: 19732
      TENANT_KEY: ebm_bow
      SITE_ID: 5ca3892508cf3a56048b4567
    ports:
      - "9732:80"
      - "19732:19732"

  broadbandtechreport:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/broadbandtechreport
    environment:
      <<: *env
      <<: *env-aerilon-staging
      PORT: 80
      EXPOSED_PORT: 9733
      LIVERELOAD_PORT: 19733
      TENANT_KEY: ebm_btr
      SITE_ID: 5ca39b0f08cf3a5a048b4567
    ports:
      - "9733:80"
      - "19733:19733"

  evaluationengineering:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/evaluationengineering
    environment:
      <<: *env
      <<: *env-picon-staging
      PORT: 80
      EXPOSED_PORT: 9734
      LIVERELOAD_PORT: 19734
      TENANT_KEY: ebm_ee
      SITE_ID: 5babaa3fb09d901d008b4567
    ports:
      - "9734:80"
      - "19734:19734"

  industrial-lasers:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/industrial-lasers
    environment:
      <<: *env
      <<: *env-aerilon-staging
      PORT: 80
      EXPOSED_PORT: 9735
      LIVERELOAD_PORT: 19735
      TENANT_KEY: ebm_ils
      SITE_ID: 5ca43ed575a2546d050041a7
    ports:
      - "9735:80"
      - "19735:19735"

  intelligent-aerospace:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/intelligent-aerospace
    environment:
      <<: *env
      <<: *env-aerilon-staging
      PORT: 80
      EXPOSED_PORT: 9736
      LIVERELOAD_PORT: 19736
      TENANT_KEY: ebm_ias
      SITE_ID: 5ca4da3775a2546b050041a7
    ports:
      - "9736:80"
      - "19736:19736"

  ledsmagazine:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/ledsmagazine
    environment:
      <<: *env
      <<: *env-aerilon-staging
      PORT: 80
      EXPOSED_PORT: 9737
      LIVERELOAD_PORT: 19737
      TENANT_KEY: ebm_leds
      SITE_ID: 5ca78b9f75a254fc0d0041a7
    ports:
      - "9737:80"
      - "19737:19737"

  lightwaveonline:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/lightwaveonline
    environment:
      <<: *env
      <<: *env-aerilon-staging
      PORT: 80
      EXPOSED_PORT: 9738
      LIVERELOAD_PORT: 19738
      TENANT_KEY: ebm_lw
      SITE_ID: 5ca78bfb75a254ff0d0041a7
    ports:
      - "9738:80"
      - "19738:19738"

  strategies-u:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/strategies-u
    environment:
      <<: *env
      <<: *env-aerilon-staging
      PORT: 80
      EXPOSED_PORT: 9739
      LIVERELOAD_PORT: 19739
      TENANT_KEY: ebm_su
      SITE_ID: 5ca78d5f75a254190e0041a7
    ports:
      - "9739:80"
      - "19739:19739"

  # masstransitmag:
  #   <<: *node
  #   <<: *site-cmd
  #   working_dir: /root/sites/masstransitmag
  #   environment:
  #     <<: *env
  #     <<: *env-picon-staging
  #     PORT: 80
  #     EXPOSED_PORT: 9740
  #     LIVERELOAD_PORT: 19740
  #     TENANT_KEY: cygnus_mass
  #     SITE_ID: 5bdb2821881b9bad008b4567
  #   ports:
  #     - "9740:80"
  #     - "19740:19740"

  # vehicleservicepros:
  #   <<: *node
  #   <<: *site-cmd
  #   working_dir: /root/sites/vehicleservicepros
  #   environment:
  #     <<: *env
  #     <<: *env-picon-staging
  #     PORT: 80
  #     EXPOSED_PORT: 9741
  #     LIVERELOAD_PORT: 19741
  #     TENANT_KEY: cygnus_vspc
  #     SITE_ID: 578631623bab465e7f4932d8
  #   ports:
  #     - "9741:80"
  #     - "19741:19741"

  vendingmarketwatch:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/vendingmarketwatch
    environment:
      <<: *env
      <<: *env-picon-staging
      PORT: 80
      EXPOSED_PORT: 9742
      LIVERELOAD_PORT: 19742
      TENANT_KEY: cygnus_vmw
      SITE_ID: 5bd2148d29a75d35008b4567
    ports:
      - "9742:80"
      - "19742:19742"

  distributedenergy:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/distributedenergy
    environment:
      <<: *env
      <<: *env-picon-staging
      PORT: 80
      EXPOSED_PORT: 9743
      LIVERELOAD_PORT: 19743
      TENANT_KEY: ebm_dte
      SITE_ID: 5dae1b9ea6e8398e018b4567
    ports:
      - "9743:80"
      - "19743:19743"

  flowcontrolnetwork:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/flowcontrolnetwork
    environment:
      <<: *env
      <<: *env-picon-staging
      PORT: 80
      EXPOSED_PORT: 9745
      LIVERELOAD_PORT: 19745
      TENANT_KEY: ebm_fcn
      SITE_ID: 5af4890775a254af9e0041a7
    ports:
      - "9745:80"
      - "19745:19745"

  gxcontractor:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/gxcontractor
    environment:
      <<: *env
      <<: *env-picon-staging
      PORT: 80
      EXPOSED_PORT: 9746
      LIVERELOAD_PORT: 19746
      TENANT_KEY: ebm_gxc
      SITE_ID: 5daf1d05a6e83941008b4567
    ports:
      - "9746:80"
      - "19746:19746"

  mswmanagement:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/mswmanagement
    environment:
      <<: *env
      <<: *env-picon-staging
      PORT: 80
      EXPOSED_PORT: 9747
      LIVERELOAD_PORT: 19747
      TENANT_KEY: ebm_msw
      SITE_ID: 5daf1d88a6e83946008b4567
    ports:
      - "9747:80"
      - "19747:19747"

  stormh2o:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/stormh2o
    environment:
      <<: *env
      <<: *env-picon-staging
      PORT: 80
      EXPOSED_PORT: 9748
      LIVERELOAD_PORT: 19748
      TENANT_KEY: ebm_stw
      SITE_ID: 5daf1dcba6e8394a008b4567
    ports:
      - "9748:80"
      - "19748:19748"

  watertechonline:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/watertechonline
    environment:
      <<: *env
      <<: *env-aerilon-staging
      PORT: 80
      EXPOSED_PORT: 9749
      LIVERELOAD_PORT: 19749
      TENANT_KEY: ebm_wto
      SITE_ID: 5d94fb44a6e83990008b4567
    ports:
      - "9749:80"
      - "19749:19749"

  waterworld:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/waterworld
    environment:
      <<: *env
      <<: *env-aerilon-staging
      PORT: 80
      EXPOSED_PORT: 9750
      LIVERELOAD_PORT: 19750
      TENANT_KEY: ebm_ww
      SITE_ID: 5ca26a4908cf3add038b4567
    ports:
      - "9750:80"
      - "19750:19750"

  foresternetwork:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/foresternetwork
    environment:
      <<: *env
      <<: *env-picon-staging
      PORT: 80
      EXPOSED_PORT: 9751
      LIVERELOAD_PORT: 19751
      TENANT_KEY: ebm_frn
      SITE_ID: 5c86ed7b47062b9e098b4567
    ports:
      - "9751:80"
      - "19751:19751"
