$primary: #8956a7 !default;
$secondary: #495057; // equivalent to default gray-700
$light: #e9ecef !default; // equivalent to default gray-200
$dark: #212529 !default; // equivalent to default gray-900
$info: #6c757d;

$leaders-primary-color: #000;
$leaders-primary-color-light: lighten($leaders-primary-color, 10%);
$leaders-accent-color: $primary;

$theme-site-navbar-secondary-bg-color: #fff;
$theme-site-navbar-primary-bg-color: $primary;
$theme-site-navbar-menu-hover-background-color: lighten($theme-site-navbar-primary-bg-color, 40%);
$theme-site-navbar-secondary-type: light;

$theme-newsletter-block-bg-color: $primary;
$theme-newsletter-block-button-bg-color: #000;

$theme-site-header-breakpoints: (
  hide-primary: 642px,
  hide-secondary: 678px,
  small-logo: 735px,
  small-text-primary: 706px,
  small-text-secondary: 805px
);

// Style overrides for DentalPost RSS widget

/* stylelint-disable */
.feedgrabbr_widget .uw-w-header {
  padding: .75rem;
  margin-bottom: 0;
  font-family: "Fira Sans", Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: $primary;
  border-bottom: 1px solid rgba(0, 0, 0, .84);
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.feedgrabbr_widget .uw-opensans * {
  font-family: "Fira Sans", Roboto, Arial, sans-serif;
}

#fg-widget-d02d836ff0dbba7d0fd7b54e2.uw-normal .uw-w-header > span {
  font-size: inherit;
}

#fg-widget-3954fc0c7864703b0184b95db:not(.uw-transparent) .uw-w-header, #fg-widget-3954fc0c7864703b0184b95db:not(.uw-transparent) .uw-w-branding {
  background-color: $primary;
}
/* stylelint-enable */


@import "../../node_modules/@endeavor-business-media/package-shared/scss/core";
@import "../../node_modules/@endeavor-business-media/package-common/scss/algolia";
