$primary: #0072bc;
$secondary: #a7a9ac;
$light: #e9ecef;
$dark: #212529;
$info: #6c757d;
$black: rgba(0, 0, 0, .84);

$theme-site-navbar-secondary-bg-color: #fcfcfc;
$theme-site-navbar-primary-bg-color: $primary;

$theme-site-navbar-secondary-link-color: $primary;
$theme-site-navbar-secondary-link-hover-color: $primary;
$theme-site-navbar-secondary-link-active-color: $primary;

$theme-site-navbar-tertiary-link-color: $primary;
$theme-site-navbar-tertiary-link-hover-color: $primary;
$theme-site-navbar-tertiary-link-active-color: $primary;

$theme-site-navbar-logo-height: 45px;
$theme-site-navbar-logo-height-sm: 25px;

$theme-site-navbar-primary-font-size: 14px;

$theme-site-header-breakpoints: (
  hide-primary: 1005px,
  hide-secondary: 906px,
  small-logo: 1015px,
  small-text-primary: 1152px,
  small-text-secondary: 1105px
);

$leaders-primary-color: $primary;
$leaders-primary-color-light: lighten($leaders-primary-color, 10%);

@import "../../node_modules/@base-cms/marko-web-gam/scss/fixed-ad-bottom";
@import "../../node_modules/@base-cms/marko-web-reveal-ad/scss/reveal-ad";
@import "../../node_modules/@base-cms/marko-web-theme-default/skins/orion/skin";
@import "../../node_modules/@endeavor-business-media/package-common/scss/card-deck-flow";
// @todo this should be remove once contact us is in core
@import "../../node_modules/@endeavor-business-media/package-common/scss/contact-us-form";
@import "../../node_modules/@endeavor-business-media/package-common/scss/directory";
@import "../../node_modules/@endeavor-business-media/package-inquiry/scss/index";
@import "../../node_modules/@endeavor-business-media/package-leaders/scss/index";

$pswp__root-z-index: $theme-site-header-z-index + 1;
@import "../../node_modules/@endeavor-business-media/package-photoswipe/scss/main";

.node {
  &__content-embed-code {
    @include theme-embed-responsive($theme-primary-media-video-aspect-ratio-x, $theme-primary-media-video-aspect-ratio-y);

    iframe,
    embed,
    object,
    video {
      @include theme-embed-responsive-item();
    }
  }
}

.leaders {
  @include border-radius($theme-card-border-radius);
  @include box-shadow($theme-card-box-shadow);
  background-color: $white;
  &__body {
    padding: $marko-web-node-padding;
  }
  &__header {
    border-top-left-radius: $theme-card-border-radius;
    border-top-right-radius: $theme-card-border-radius;
  }
}
