$ const { config } = out.global;

<shared-subscribe-page-layout
  description=`${config.siteName()} delivers power content to tax providers with this website and also our weekly newsletter. To subscribe or manage your current subscription, please click below and put the power of ${config.siteName()} at your fingertips.`
>
  <@newsletter-section>
    <div class="row">
      <div class="col">
        <h4>Newsletter</h4>
        <p>Stay up-to-date on news relating to tax preparers, new product launches, and more.</p>
        <p>
          <marko-web-link
            class="font-weight-bold"
            href="http://cygnuscorporate.wufoo.com/forms/m1mu6gxu02je8ro/"
            target="_blank">
            Subscribe / Manage Preferences
          </marko-web-link>
        </p>
        <hr>
      </div>
    </div>
  </@newsletter-section>

  <!-- <@magazine-section>
    <div class="row">
      <div class="col mb-block">
        <h4>Magazines</h4>
      </div>
    </div>
    <shared-magazine-publications-block />
  </@magazine-section> -->

</shared-subscribe-page-layout>
