import { getAsArray, getAsObject } from "@base-cms/object-path";

$ const { aliases } = input;
$ const nodes = getAsArray(input, "nodes");

<if(nodes.length)>
  <default-theme-card-deck-flow cols=4 nodes=nodes>
    <@slot|{ node, index }|>
      <website-content-card-node
        image-width=340
        with-teaser=false
        node=node
      />
    </@slot>
  </default-theme-card-deck-flow>
</if>
