$ const { facets, title } = input;
<if(facets.length)>
  <div class="node-list node-list--inner-justified node-list--directory-facets">
    <if(title)>
      <div class="node-list__header">${title}</div>
    </if>
    <div class=`node-list__nodes node-list__nodes--${input.paramName}`>
      <facet-list
        facets=facets
        param-name=input.paramName
        active-id=input.activeId
        active-ids=input.activeIds
      />
    </div>
  </div>
</if>
