$primary: #ed1b24;
$secondary: #495057;
$light: #e9ecef;
$dark: #212529;
$info: #6c757d;

$theme-site-navbar-secondary-bg-color: #fff;
$theme-site-navbar-primary-bg-color: $primary;
$theme-site-navbar-menu-hover-background-color: lighten($theme-site-navbar-primary-bg-color, 45%);
$theme-site-navbar-secondary-type: light;

$theme-site-navbar-logo-height: 45px;
$theme-site-navbar-logo-height-sm: 30px;

$theme-site-header-breakpoints: (
  hide-primary: 930px,
  hide-secondary: 815px,
  small-logo: 908px,
  small-text-primary: 1046px,
  small-text-secondary: 977px
);
@import "../../node_modules/@base-cms/marko-web-gam/scss/fixed-ad-bottom";
@import "../../node_modules/@base-cms/marko-web-reveal-ad/scss/reveal-ad";
@import "../../node_modules/@base-cms/marko-web-theme-default/skins/orion/skin";
// @todo this should be remove once contact us is in core
@import "../../node_modules/@base-cms-websites/package-common/scss/contact-us-form";
@import "../../node_modules/@base-cms-websites/package-common/scss/directory";
@import "../../node_modules/@base-cms-websites/package-inquiry/scss/index";
