.ais{
  &-HierarchicalMenu-list,
  &-Hits-list,
  &-Results-list,
  &-Pagination-list,
  &-RefinementList-list,
  &-ToggleRefinement-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &-HierarchicalMenu-list &-HierarchicalMenu-list {
    margin-left: 1em;
  }

  &-Pagination-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-Pagination-link {
    display: block;
    padding: .3rem .6rem;
    border: 1px solid #c4c8d8;
    border-radius: 5px;
  }

  &-Pagination-item {
    $self: &;
    & + #{ $self } {
      margin-left: .3rem;
    }
  }

  &-SearchBox-form {
    position: relative;
    display: block;
  }

  &-SearchBox-input {
    position: relative;
    width: 100%;
    padding: .3rem 1.7rem;
    background-color: #fff;
    border: 1px solid #c4c8d8;
    border-radius: 5px;
    appearance: none;
  }

  &-ClearRefinements-button,
  &-CurrentRefinements-delete,
  &-CurrentRefinements-reset,
  &-GeoSearch-redo,
  &-GeoSearch-reset,
  &-HierarchicalMenu-showMore,
  &-InfiniteHits-loadPrevious,
  &-InfiniteHits-loadMore,
  &-InfiniteResults-loadMore,
  &-Menu-showMore,
  &-RangeInput-submit,
  &-RefinementList-showMore,
  &-SearchBox-submit,
  &-SearchBox-reset,
  &-VoiceSearch-button {
    padding: 0;
    overflow: visible;
    line-height: normal;
    color: inherit;
    user-select: none;
    background: none;
    border: 0;
  }

  &-SearchBox-input::-ms-clear,
  &-SearchBox-input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
  &-SearchBox-input::-webkit-search-decoration,
  &-SearchBox-input::-webkit-search-cancel-button,
  &-SearchBox-input::-webkit-search-results-button,
  &-SearchBox-input::-webkit-search-results-decoration {
    display: none;
  }

  &-SearchBox-submit,
  &-SearchBox-reset,
  &-SearchBox-loadingIndicator {
    position: absolute;
    top: 50%;
    right: .3rem;
    z-index: 1;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    appearance: none;
  }

  &-SearchBox-submit {
    left: .3rem;
  }

  &-SearchBox-reset {
    right: .3rem;
  }

  &-SearchBox-submitIcon,
  &-SearchBox-resetIcon,
  &-SearchBox-loadingIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &-SearchBox-submitIcon path,
  &-SearchBox-resetIcon path {
    fill: #495588;
  }

  &-SearchBox-submitIcon {
    width: 14px;
    height: 14px;
  }

  &-SearchBox-resetIcon {
    width: 12px;
    height: 12px;
  }
}
