
@include media-breakpoint-up(md) {
  .card-deck-flow {
    $self: &;
    &--4-cols {
      #{ $self }{
        &__node {
          flex: 0 0 25%;
          max-width: 25%;
        }
      }
    }

    &--6-cols {
      #{ $self }{
        &__node {
          flex: 0 0 16.6666%;
          max-width: 16.6666%;
        }
      }
    }
  }
}

@include media-breakpoint-between(sm, md) {
  .card-deck-flow {
    $self: &;
    &--6-cols {
      #{ $self }{
        &__node {
          flex: 0 0 33.3333%;
          max-width: 33.3333%;
        }
      }
    }
  }
}

.card-deck-flow {
  .node {
    &__body:first-child {
      .node {
        &__header,
        &__text--teaser {
          font-size: 16px;
          a {
            max-height: 112px;
            -webkit-line-clamp: 5;
          }
        }
        &__title {
          font-size: 24px;
          a {
            max-height: 124px;
            -webkit-line-clamp: 4;
          }
        }
      }
    }
  }
}
