$ const { id, alias, name, pageNode } = data;

<shared-website-section-page-default-layout
  id=id
  alias=alias
  name=name
  page-node=pageNode
>

  <@page>
    <shared-gam-display-ad id="gpt-ad-lb1" modifiers=["top-of-page"] />
    <marko-web-resolve-page|{ data: section }| node=pageNode>
      <marko-web-page-wrapper class="mb-block">
        <@section>
          <div class="row">
            <div class="col">
              <default-theme-website-section-breadcrumbs section=section />
              <marko-web-website-section-name tag="h1" class="page-wrapper__title" obj=section />
              <p class="page-wrapper__description">
                ${section.description}
              </p>
            </div>
          </div>
        </@section>
      </marko-web-page-wrapper>
    </marko-web-resolve-page>

    <shared-content-hero-block id=id />

    <div class="row">
      <div class="col-lg-8 mb-block">
        <shared-website-section-list-block alias=alias>
          <@query-params limit=7 skip=5 />
          <@native-x index=6 />
        </shared-website-section-list-block>
      </div>
      <div class="col-lg-4 page-rail">
        <shared-gam-display-ad id="gpt-ad-rail1" />
        <shared-gam-display-ad id="gpt-ad-rail2" />
      </div>
    </div>
  </@page>
  <@load-more>
    <@query-params limit=14 skip=12 />
  </@load-more>
</shared-website-section-page-default-layout>
