$primary: #494232;
$secondary: #495057;
$light: #e9ecef;
$dark: #212529;
$info: #6c757d;

$leaders-primary-color: #000;
$leaders-primary-color-light: lighten($leaders-primary-color, 10%);
$leaders-accent-color: $primary;

$theme-newsletter-block-bg-color: $primary;
$theme-newsletter-block-button-bg-color: #000;

$theme-site-header-breakpoints: (
  hide-primary: 832px,
  hide-secondary: 906px,
  small-logo: 1015px,
  small-text-primary: 932px,
  small-text-secondary: 1105px
);

@import "../../node_modules/@endeavor-business-media/package-shared/scss/core";
@import "../../node_modules/@endeavor-business-media/package-common/scss/algolia";
