$primary: #000 !default;
$secondary: #495057; // equivalent to default gray-700
$light: #e9ecef !default; // equivalent to default gray-200
$dark: #212529 !default; // equivalent to default gray-900
$info: #6c757d;

$leaders-primary-color: #000;
$leaders-primary-color-light: lighten($leaders-primary-color, 10%);
$leaders-accent-color: $primary;


$theme-site-navbar-secondary-bg-color: #fff;
$theme-site-navbar-primary-bg-color: $primary;
$theme-site-navbar-menu-hover-background-color: lighten($theme-site-navbar-primary-bg-color, 80%);
$theme-site-navbar-secondary-type: light;

$theme-newsletter-block-bg-color: $primary;
$theme-newsletter-block-button-bg-color: #000;

$theme-site-header-breakpoints: (
  hide-primary: 704px,
  hide-secondary: 507px,
  small-logo: 654px,
  small-text-primary: 790px,
  small-text-secondary: 547px
);

@import "../../node_modules/@endeavor-business-media/package-shared/scss/core";
@import "../../node_modules/@endeavor-business-media/package-common/scss/algolia";
