$primary: #094e85 !default;
$secondary: #495057; // equivalent to default gray-700
$light: #e9ecef !default; // equivalent to default gray-200
$dark: #212529 !default; // equivalent to default gray-900
$info: #6c757d;

$leaders-primary-color: #000;
$leaders-primary-color-light: lighten($leaders-primary-color, 10%);
$leaders-accent-color: $primary;


$theme-site-navbar-secondary-bg-color: #fff;
$theme-site-navbar-primary-bg-color: $primary;
$theme-site-navbar-menu-hover-background-color: lighten($theme-site-navbar-primary-bg-color, 70%);
$theme-site-navbar-secondary-type: light;

$theme-newsletter-block-bg-color: $primary;
$theme-newsletter-block-button-bg-color: #000;

$theme-site-navbar-logo-height: 50px;
$theme-site-navbar-logo-height-sm: 30px;

$theme-site-header-breakpoints: (
  hide-primary: 1152px,
  hide-secondary: 775px,
  small-logo: 945px,
  small-text-primary: 1230px,
  small-text-secondary: 945px
);

@import "../../node_modules/@endeavor-business-media/package-shared/scss/core";

.website-section-page {
  &--31922 {
    margin-bottom: map-get($spacers, block);
  }
}
